@model Topic
@{
    ViewData["Title"] = "Topic posts";
}

<h1>@Html.DisplayFor(model => model.TopicName)</h1>

@foreach (var reply in @ViewBag.replies)
{
    <p>Anonymous: @reply.Reply  @reply.ReplyOn</p>
}

<form asp-action="Reply" style="margin-left:25px;">
    <input name="content" id="content" placeholder="Enter reply content" class="form-control" />
    <input type="hidden" name="TopicId" id="TopicId" value="@Html.DisplayFor(model => model.TopicId)" />
    <div class="form-group">
        <button type="submit" value="Reply" class="btn btn-primary">Submit</button>
    </div>
</form>
@Html.ValidationMessage("Error", new { @class = "text-danger" })